@section Scripts
{
    <script src="@Url.Content("~/Scripts/App/action_daily_metrics.js")"></script>
}



<div class="row">
    <div id="visitsactionday_div" class="col-sm-9">
        <canvas id="visitsactionday"></canvas>
    </div>
</div>
