@model GraphData.Models.IndexModel

@section Scripts
{
    <script src="@Url.Content("~/Scripts/App/apirequests.js")"></script>
}

<div class="row">
    <h2>ALEXANDRIA</h2>
    <p class="lead">Aquestes gràfiques son una represetació de les propies d'ALX i les dades de Google Analytics referents a visitandorra.com.</p>
</div>
<div class="row col-sm-12 ">
    <div class="col-sm-2">
        <input id="startDate" class="datepicker-input form-control" />
        @*<span class="field-validation-valid" data-valmsg-for="startDate" data-valmsg-replace="true" > class="startDate"</span>*@

    </div>
    <div class="col-sm-2">
        <input id="endDate" class="datepicker-input  form-control" name="endDate" />
        @*<span class="field-validation-valid" data-valmsg-for="endDate" data-valmsg-replace="true" ></span>*@
    </div>
    <div class=" col-sm-2">
        <a id="apply-filter" class="btn-link"><i class="si si-reload"></i>Cercar</a>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row col-sm-12">
    <div class=" col-sm-4">
        <p id="alxvisits"></p>
        <p id="gasessions"></p>
        <p id="sessions_concorde"></p>
    </div>
    <div class=" col-sm-4">
        <p id="alxvisitscamp"></p>
        <p id="gasessionscamp"></p>
        <p id="sessionscamp_concorde"></p>
    </div>
    <div class=" col-sm-4">
        <p id="alxpages"></p>
        <p id="gapages"></p> 
        <p id="pages_concorde"></p>
    </div>
</div>
<div class="row">
    <div id="visitsfullday">
        <canvas id="visitsfull"></canvas>
    </div>
</div>

<div class="row">
    <div id="pagesday" class="col-sm-9">
        <canvas id="myLineChart"></canvas>
    </div>
</div>
<div class="row">
    <div id="usersday" class="col-sm-9">
        <canvas id="uniqueUsers"></canvas>
    </div>
</div>
<!--<div class="row col-sm-12">

    @*<div id="pagestoday" class="row">
            <canvas id="todayLine"></canvas>
        </div>*@
    <div id="visitsday" class="col-sm-6">
        <canvas id="visits"></canvas>
    </div>
    <div id="visitscampaignday" class="col-sm-6">
        <canvas id="visitscampaign"></canvas>
    </div>
    @*<div class="row">
            <canvas id="myBarChart" ></canvas>
        </div>*@

</div> -->
