@model GraphData.Models.IndexModel
<div class="row">
    <h1>Navigation ALX</h1>
    <p class="lead">Aquestes gràfiques son una represetació de les propies d'ALX i les dades de Google Analytics referents a visitandorra.com.</p>
</div>
@*<div class="filter">
        <div class="datepicker-input">
            <input id="startDate" class="startDate" name="startDate" value="" data-provide="datepicker" />
            <span class="field-validation-valid" data-valmsg-for="startDate" data-valmsg-replace="true" ></span>
        </div>
        <div class="datepicker-input">
            <input id="endDate" class="endDate" name="endDate" value="" data-provide="datepicker"/>
            <span class="field-validation-valid" data-valmsg-for="endDate" data-valmsg-replace="true" ></span>
        </div>
    </div>
    <div class="datepicker-input">
        <a id="apply-filter" class=""><i class="si si-reload"></i>Cercar</a>
    </div>*@
<div class="row">
    <div class="">
        <h3>Total planes vistes al periode @Html.DisplayFor(model => model.TotalObjects) </h3>
    </div>
    <div class="row">
        <canvas id="myLineChart" width="100" height="40"></canvas>
    </div>
    <div class="row">
        <canvas id="myBarChart" width="100" height="40"></canvas>
    </div>

</div>
